<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - todoApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/todoApp.styles.css" asp-append-version="true" />
</head>

<body>


    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-controller="home"
                            asp-action="index">Store</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Cart">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="categories" asp-action="index">Categories</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Products" asp-action="Index">Products</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        <div>
            @RenderSection("title")
        </div>

        <div>
            @RenderBody()
        </div>

    </div>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>