@model Product
@section title {
<h3>Edit Product</h3>

}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


<form asp-action="Save" method="post">

    <input type="hidden" asp-for="ProductId"/>

    <div class="mb-3">
        <label asp-for="ProductName"></label>
        <input asp-for="ProductName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Category</label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-select"></select>
    </div>

    <div class="mb-3">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" class="form-control" />
    </div>

    <button class="btn btn-success">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

